.main {
  text-align: center;
  /* border: 5px dashed burlywood; */
  margin: 2%;
}
.header {
  margin: 2%;
  background-color: antiquewhite;
}
img {
  margin: 2%;
  align-items: center;
  border-radius: 10%;

  height:200px ;
  width:200px ;
  
}
.Day01div1 {
  color: gray;
  background-color: antiquewhite;
  font-size: larger;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  margin-left: 20px;
  float: left;
  width: 30%;
  height: 400px;
  margin-bottom: 2%;
}
.Day01div2,
.Day01div3 {
  color: gray;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  font-size: larger;
  margin-left: 3%;
  float: left;
  width: 30%;
  height: 400px;
  margin-bottom: 2%;
}
/* button {
  padding: 2%;
  display: flex;  
  margin-left: 170px;
  color:coral;
  background-color:darkslategray;
}
button:hover{
  color: darksalmon;
  background-color: darkred;
} */
